geo $is_internal {
	default 0;
	10.0.0.0/8 1;
}

server {
	listen 443 ssl;
	server_name ${IOTPREFIX}.${DOMAIN};

	ssl_certificate /etc/letsencrypt/live/${IOTPREFIX}.${DOMAIN}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/${IOTPREFIX}.${DOMAIN}/privkey.pem;

	location / {
		if ( $is_internal ) {
			return 200 'IoT server internal accesss';
		}
		return 200 'this will be the home of the IoT server';
		add_header Content-Type text/plain;
	}
}
