services:
  db:
    image: linuxserver/mariadb:12.1
    restart: always
    networks:
      - mynet
    volumes:
      - db_conf:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Zurich
      - MYSQL_ROOT_PASSWORD=ImeiQu3l
    ports:
      - "3306:3306"
  app:
    build:
      context: https://github.com/LibreBooking/docker.git#8f1c0063d2f45a06310d56e56b116c671bf67b43
      args:
        APP_GH_REF: "refs/tags/v4.0.0"
    restart: always
    depends_on:
      - db
    networks:
      - mynet
    ports:
      - "7780:80"
    volumes:
      - app_conf:/config
    environment: 
      - LB_DB_NAME=librebooking
      - LB_DB_USER=lb_user
      - LB_DB_USER_PWD=Ughif7Lu
      - LB_DB_HOST=db
      - LB_INSTALL_PWD=jaeTej7e
      - LB_ENV=production
      - LB_LOG_FOLDER=/var/log/librebooking
#      - LB_LOG_LEVEL=debug
      - LB_LOG_SQL=false
      - TZ=Europe/Zurich

volumes:
  db_conf:
  app_conf:

networks:
  mynet:
