services:
  librebooking:
    build:
      context: https://github.com/LibreBooking/docker.git#3.0.0
      args:
        APP_GH_REF: "refs/tags/v4.0.0"
    restart: always
    ports:
      - "7780:80" # debug only, remove later
    volumes:
      - librebooking_conf:/config
    environment:
      - LB_DATABASE_NAME=librebooking
      - LB_DATABASE_USER=lb_user
      - LB_DATABASE_USER_PWD=${LB_DB_USER_PWD:?err}
      - LB_INSTALL_PASSWORD=${LB_INSTALL_PWD:?err}
      # LB_DB_HOST needs to defined by root container, as an override
      # LB_TZ needs to be defined matching the environment, as an override

volumes:
  librebooking_conf:
