include:
  - path:
    - ../../components/certbot-nginx/docker-compose.yml
    - ../../components/self-signed-certificate/docker-compose-certbot-nginx.override.yml
    - ../../components/mqtt/docker-compose-certbot-nginx.override.yml
    - ../../components/librebooking/docker-compose-certbot-nginx.override.yml
    env_file:
      - ../../secrets/common/common.env
      - ../../secrets/services/services.env
  - path:
    - ../../components/self-signed-certificate/docker-compose.yml
    env_file:
      - ../../secrets/common/common.env
      - ../../secrets/services/services.env
  - path:
    - ../../components/mqtt/docker-compose.yml
    - ../../components/mqtt/docker-compose-mqtt.override.yml
  - path:
    - ../../components/mariadb/docker-compose.yml
    env_file:
      - ../../secrets/common/common.env
      - ../../secrets/services/services.env
  - path:
    - ../../components/librebooking/docker-compose.yml
    - ../../components/librebooking/docker-compose-librebooking.override.yml
    env_file:
      - ../../secrets/common/common.env
      - ../../secrets/services/services.env
